<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkObzez_9FVEDpeVDLFs1pFEhGp3XCJPk</string>
	<key>GCM_SENDER_ID</key>
	<string>234041207656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindcast.mindcast</string>
	<key>PROJECT_ID</key>
	<string>mindcast-b0033</string>
	<key>STORAGE_BUCKET</key>
	<string>mindcast-b0033.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234041207656:ios:05b118b47b5073c20a84dd</string>
</dict>
</plist>