<div>
    <div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10.0pt; ">
        <div>
            <div>
                <div>
                    <div>
                         
                        <div
                            style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div
                                style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;background-color: transparent;">
                                <div
                                    style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div
                                        style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="border-radius: 0.0px;width: 600.0px;">
                                            <div
                                                style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;border-radius: 0.0px;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                    style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"
                                                                style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <img src="https://www.mindcasts.life/image/LOGO%20MINDCASTS.png" alt="" style="height: 100px; margin-
                                                                bottom:200px;">
                                                                <br>
                                                                <img src="https://mindcasts.life/image/email-welcome.jpeg" alt="" style="width: 100%; height:200px; object-fit:cover;">
                                                                
                                                            </td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td align="left"  style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <h1>Hello - {{ name }}</h1>
                                                                <p>Thank you for subscribing to MindCasts! We are excited to support your employees' mental well-being 
                                                                    over the next year. As part of your subscription, you have been provided with access codes for five 
                                                                    employees to use the MindCasts app. Here’s how you can distribute these codes to your team.</p>

<h2>What to Expect</h2>

                                                                    <div style="display: flex; justify-content:space-between; width:100%">
                                                                        <div style="padding:20px; margin:10px; text-align:center; background-color:#EBE0FD; border-radius:8px;">                                                                <img src="https://mindcasts.life/image/laugh-1.png" alt="" style="width: 50px; height:50px; object-fit:contain;">
                                                                            <p>Easy to use mobile app on android or iOS devices</p>
                                                                        </div>
                                                                         <div style="padding:20px; margin:10px; text-align:center;background-color:#EBE0FD; border-radius:8px;"> <img src="https://mindcasts.life/image/headphone-1.png" alt="" style="width: 50px; height:50px; object-fit:contain;">
                                                                            <p>Employee access to  resources and professional support.</p>
                                                                        </div>
                                                                         <div style="padding:20px; margin:10px; text-align:center;background-color:#EBE0FD; border-radius:8px;"> <img src="https://mindcasts.life/image/check-list-1.png" alt="" style="width: 50px; height:50px; object-fit:contain;">
                                                                            <p>Personalised mental health plans tailored to individual needs.</p>
                                                                        </div>
                                                                    </div>
                                                               
                                                               <h2>Steps to Share Access Codes with Your Employees:</h2>
                                                               <ol>
                                                                <li><b>Access Codes:</b></li>
                                                                <p>Below are the unique access codes for your (<b>{{ totalUsers }}</b>) employees:</p>
                                                                <ul>
                                                                    {{{ allCodes }}}
                                                                </ul>
                                                                <li><b>Distribute Codes:</b></li>
                                                                <p>Share one unique code with each employee. They will use this code to activate their MindCasts 
                                                                    subscription.</p>
                                                                <li><b>Employee Activation:</b></li>
                                                                <p>Employees should follow these steps to activate their subscription:</p>
                                                                <ul>
                                                                    <li>Download the MindCasts app from the App Store or Google Play.</li>
                                                                    <li>Create an account using their work email.</li>
                                                                    <li>Enter the provided access code in the "Subscription Code" field during the account setup process.
                                                                    </li>
                                                                    <li>Start exploring the mental health resources and support available.</li>
                                                                </ul>
                                                                <li><b>Monitor and Manage Subscriptions:</b></li>
                                                                <p>You can track which codes have been activated by logging into your MindCasts administrative account at 
                                                                    [Admin Portal URL].</p>
                                                                <p>If needed, you can reassign unused codes to different employees.</p>
                                                               </ol>
                                                               <h2>Need Assistance?</h2>
                                                               <p>If you have any questions or need help during the setup process, please contact our support team at 
                                                                <b><i>info@mindcasts.life.</i></b> We are here to ensure a smooth and seamless experience for you and 
                                                                your team.</p>

                                                               <p>We are thrilled to have {{ name }} on board and look forward to supporting your employees' mental health journey.</p>
                                                               <br>
                                                               <br>
                                                               <p><b>Warm regards,</b></p>
                                                               <p>Mubo Lawal</p>
                                                               <p><i>Co-founder</i></p>
                                                               <p>MindCasts Team</p>
                                                               <br>
                                                               <br>
                                                               <br><small>If you have any questions or need further assistance, please reply to this email </small>
                                                               
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;">
                                <div
                                    style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div
                                        style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="width: 600.0px;">
                                            <div
                                                style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                    style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px 10.0px 33.0px 7.0px;">
                                                                <div style="line-height: 20.8px;text-align: center;">

                                                                    <div>
                                                                        
                                                                             
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div
                                style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;background-color: transparent;">
                                <div
                                    style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div
                                        style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="border-radius: 0.0px;width: 600.0px;">
                                            <div
                                                style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;border-radius: 0.0px;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                    style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <div style="line-height: 18.2px;">
                                                                    <p
                                                                        style="line-height: 19.6px;text-align: center;margin: 0.0px;">
                                                                        <span class="size"
                                                                            style="font-size: 14px; line-height: 19.6px; text-align: center; margin: 0px;">
                                                                            <span class="colour"
                                                                                style="color:rgb(126, 140, 141)">
                                                                                <span class="size"
                                                                                    style="font-size: 10px; line-height: 14px;">
                                                                                    <a href="https://www.mindcasts.life/host.html"><img src="https://res.cloudinary.com/da1mxvbx2/image/upload/v1710249461/Apple_store_uk05up.png" width="100" alt=""></a>
                                                                                        <a href="https://www.mindcasts.life/host.html"><img src="https://res.cloudinary.com/da1mxvbx2/image/upload/v1710249460/play_store_jgrcde.png" width="100" alt=""></a> <br><br>
                                                                                    You are receiving this email because
                                                                                    you are currently
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <br>
                                                                    </p>
                                                                    <p
                                                                        style="line-height: 19.6px;text-align: center;margin: 0.0px;">
                                                                        <span class="size"
                                                                            style="font-size: 14px; line-height: 19.6px; text-align: center; margin: 0px;">
                                                                            <span class="colour"
                                                                                style="color:rgb(58, 2, 107)">
                                                                                <span class="size"
                                                                                    style="font-size: 10px; line-height: 14px;">
                                                                                    subscribed to Mindcasts.life
                                                                                    notifications.&nbsp;
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <br>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            style="color: rgb(62, 0, 86);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div
                                style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;background-color: rgb(50,77,92);">
                                <div
                                    style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div
                                        style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="width: 600.0px;">
                                            <div
                                                style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                    style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <div
                                                                    style="color: rgb(250,250,250);line-height: 23.4px;text-align: center;">
                                                                    <p style="line-height: 25.2px;margin: 0.0px;">
                                                                        <span class="size"
                                                                            style="font-size: 14px; line-height: 25.2px; margin: 0px;">
                                                                            <span class="size"
                                                                                style="font-size: 12px; line-height: 21.6px;">
                                                                                Copyrights © Mindcasts 2024
                                                                                <br>
                                                                                All Rights Reserved.
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br>
        </div>
    </div>
</div>